body {
  height: 100vh;
  background-image: url("./images/bg-bottom.svg"), url("./images/bg-top.svg");
  background-color: hsl(240, 78%, 98%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: hsl(232, 13%, 33%);
}
hr {
  color: hsl(240, 78%, 98%);
}
.Background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.Pricings {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.Basic {
  background-color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.Professional {
  background-color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.Master {
  background-color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.Master:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  scale: 1.1;
}
.Master:hover > .Learn > .Button {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}
.Professional:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  scale: 1.1;
}
.Professional:hover > .Learn > .Button {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}
.Basic:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  scale: 1.1;
}
.Basic:hover > .Learn > .Button {
  background-image: none;
  background-color: white;
  color: hsl(237, 63%, 64%);
}
.Price {
  font-size: 4rem;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 10px;
}
.Dollar {
  font-size: 2rem;
  align-self: center;
}
.Plan {
  font-size: 1.25rem;
}
.Title {
  font-size: 2rem;
}
.Button {
  text-align: center;
  font-size: 1rem;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 10px;
  width: 17.5rem;
  height: 3rem;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
}
.Duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: hsl(234, 14%, 74%);
}
input {
  height: 0;
  width: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  text-indent: -9999px;
  width: 3rem;
  height: 2rem;
  background: hsl(228, 45%, 44%);
  display: block;
  border-radius: 100px;
  position: relative;
}
label:after {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 1rem;
  transition: 0.3s;
}
input:checked + label {
  background: hsl(228, 45%, 44%);
}
input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
label:active:after {
  width: 1.5rem;
}
#switch {
  display: none;
}
@media only screen and (max-width: 375px) {
  body {
    display: block;
  }
  .Pricings {
    flex-direction: column;
  }
  .Basic {
    margin: 10px;
  }
  .Professional {
    margin: 10px;
  }
  .Master {
    margin: 10px;
  }
  .Basic:hover {
    scale: none;
  }
  .Professional:hover {
    scale: none;
  }
  .Master:hover {
    scale: none;
  }
}
